table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
}

​ table {
    margin-bottom: 30px;
}

​ tr:nth-child(even) {
    background: #a0c1e1;
}

​ th,
td {
    padding: 5px 10px;
}

​ .container {
    padding: 20px;
}